<div class="mein-wrapper">
<div class="container">
    <div class="page-title">
        <h1>ログイン</h1>
    </div>
    <form action="" method="">
        <div class="login_form">
            <label for="name">メールアドレス</label>
            <input type="text" id="emeil" name="emeil">
        </div>
        <div class="login_form">
            <label for="email">パスワード</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="btn-wrapper">
            <input type="submit" value="ログイン">
            
        </div>
    </form>
</div>
</div>